:root {
  --main-color: #C5EFF7;
  --accent-color: rgb(245, 255, 255);
  --text-color: rgb(66, 66, 66);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  height: 100%;

  font-family: Lato, sans-serif;
  color: var(--text-color);
}

#root {
  height: 100vh;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
  grid-template-areas: 
  "r m m m m m"
  "r m m m m m"
  "r m m m m m"
  "r m m m m m"
  "r m m m m m"
  "n f f f f f";
}

.grid__elem {
  padding: 15px;
}

.title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.rooms-list {
  grid-area: r;
  background: var(--main-color);
}

.message-list {
  grid-area: m;
  display: flex;
  flex-direction: column;
}

.add-room-form {
  grid-area: n;
  text-align: center;
  background: var(--accent-color);
}

.add-message-form {
  grid-area: f;
  border: .5px solid lightgrey;
}


.msg {
  border: .5px solid var(--main-color);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  display: inline-block;
}

.msg-author {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 3px;
  /* color: rgb(66, 66, 66); */
}

.msg-content {
  /* color: rgb(66, 66, 66); */
}