:root {
  --main-color: #C5EFF7;
  --accent-color: rgb(245, 255, 255);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  height: 100%;

  font-family: Lato, sans-serif;
}

#root {
  height: 100vh;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
  grid-template-areas: 
  "r m m m m m"
  "r m m m m m"
  "r m m m m m"
  "r m m m m m"
  "r m m m m m"
  "n f f f f f";
}

.grid__elem {
  padding: 15px;
}

.rooms-list {
  grid-area: r;
  background: var(--main-color);
}

.message-list {
  grid-area: m;
}

.add-room-form {
  grid-area: n;
  text-align: center;
  background: var(--accent-color);
}

.add-message-form {
  grid-area: f;
  border: .5px solid lightgrey;
}