:root {
  --main-color: #c5eff7;
  --accent-color: rgb(108, 219, 182);
  --text-color: rgb(66, 66, 66);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: Lato, sans-serif;
  color: var(--text-color);
}

html,
body {
  height: 100vh;
}

#root {
  height: 100%;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
  grid-template-areas:
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "n f f f f f";
}

.grid__elem {
  padding: 15px;
}

.title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.rooms-list {
  grid-area: r;
  background: var(--main-color);
}

.rooms-list ul {
  list-style: none;
}

.rooms-list ul li {
  margin-bottom: 10px;
  font-size: 16px;
}

.rooms-list ul li:hover{
  cursor: pointer;
  color: rgb(41, 41, 41);
}

.message-list {
  grid-area: m;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.add-room-form {
  grid-area: n;
  text-align: center;
  background: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-room-form:hover {
  background: rgb(103, 214, 177);
}

.button-text {
  margin-right: 5px;
  font-size: 17px;
}

.icon::before {
  color: rgb(90, 90, 90);
}

.add-message-form {
  grid-area: f;
  padding: 0;
}

.msg-form {
  display: flex;
  height: 100%;
  width: 100%;
}

.msg-input {
  width: 90%;
  height: 100%;
  padding: 0 15px;
  font-size: 18px;
  background: rgb(245, 244, 244);
  border: none;
  outline: none;
  color: var(--text-color);
}

.msg-button {
  width: 10%;
  height: 100%;
  border: none;
  background: var(--accent-color);
}

.msg-button:hover {
  background: rgb(103, 214, 177);
}

.msg {
  border: 0.5px solid var(--main-color);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  display: inline-block;
}

.msg-author {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 3px;
  /* color: rgb(66, 66, 66); */
}

.msg-content {
  /* color: rgb(66, 66, 66); */
}
